{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Data Reservasi</h2>

    <table class="table table-bordered">

        <thead>

            <tr>
                <th>Kode</th>
                <th>User</th>
                <th>Film</th>
                <th>Kursi</th>
                <th>Total</th>
                <th>Status</th>
            </tr>

        </thead>

        <tbody>

            {% for d in data %}

            <tr>

                <td>{{ d.kode_reservasi }}</td>

                <td>{{ d.user.username }}</td>

                <td>{{ d.jadwal.film.judul }}</td>

                <td>{{ d.kursi.nomor_kursi }}</td>

                <td>Rp {{ d.total_harga }}</td>

                <td>{{ d.status }}</td>

            </tr>

            {% empty %}

            <tr>
                <td colspan="6" class="text-center">
                    Belum ada data reservasi
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}